@font-face {
  font-family: 'EntezareZohoor2';
  src: url('../../public//Fonts/SpaceGrotesk-Light.ttf');
  font-weight: normal;
  font-style: normal;
  
}
@font-face {
  font-family: 'EntezareZohoor1';
  src: url('../../public//Fonts/Crescent\ Slim.otf');
  font-weight: normal;
  font-style: normal;
  
}

.mainHome{
  overflow: hidden;
  font-family: 'EntezareZohoor2';
  h1{
    font-family: 'EntezareZohoor1';  
    }
  h2{
  font-family: 'EntezareZohoor1';  
  }
}
.landing {
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
  position: relative;
  text-align: center;
  isolation: isolate;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../../public/Assets/landing.jpg);
  transition: .7s;
  &:before {
    opacity: 0.4;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 0.5;
    background-color: black;
  }
}
.landing1 {
  color: white;
  height: 15vh;
  width: 100vw;
  left: 0;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  position: relative;
  isolation: isolate;
  background-attachment: fixed;
  background-image: url(../../public/Assets/landing.jpg);
  &:before {
    opacity: 0.4;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 0.5;
    background-color: black;
  }
}
.top_pick {
  text-align: center;
  h2{
    margin: 3rem 0;
  }
}
.propertyCard {
  margin: 3rem 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 2rem;
  .price{
    margin-top: -10px;
  }
  .card_footer {
    margin-top: -2rem;
    padding: 1rem;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    .bed {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      border-radius: 2rem;
      border: 1px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-width: 1px;
      border-color: black;
      background-color: rgb(227, 247, 253);
      transition: .5s;
      p {
        padding: 2px 2px;
      }
      &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }
    }
  }
  &:hover{
    transition: .7s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
}
.listpage{
  text-align: center;
  h1{
    margin: 3rem 0;
  }
}
.listwithus{
  left: 0;
  margin-left: -1.5rem;
  width: 100vw;
  display: grid;
  padding: 1rem;
  color: white;
  position: relative;
  text-align: center;
  isolation: isolate;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../../public/Assets/landing.jpg);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  transition: .7s;
  &:before {
    opacity: 0.4;
  }
  &:after {
    content: "";
    inset: 0;
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    background-color: black;
  }
  .text{
    padding: 20px;
    display: flex;
    color: black;
    overflow: hidden;
    margin:3rem 1rem;
    align-items: center;
    border-radius: 2rem;
    flex-direction: column;
    justify-content: center;
    background-color: white;
   
  }
  .button{
    margin: 2rem;
    border: none;
    width: 200px;
    padding: 10px;
    transition: .7s;
    border-radius: 2rem;
    background-color: rgb(227, 247, 253);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &:hover{
      transition: .7s;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
  }
  h3{
    padding: 0 15rem;
  }
}