.landing{
    color: white;
    height: 100vh;
    width: 100vw;
    left: 0;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    position: relative;
    isolation: isolate;
    background-attachment: fixed;
    background-image: url(../../public/Assets/landing.jpg);
    &:before{
        opacity: .4;
    }
    &:after{
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        opacity: .5;
        background-color: black;
    }
}
.top_pick{
    text-align: center;
}
.propertyCard{
    margin-bottom: 1rem;
    border: 1px;
    border-width: 1px;
    border-color: black;
    background-color: grey;
    border-radius: 2rem;

    .card_footer{
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        .bed{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            p{
                padding: 0 10px;
            }
        }
    }
}